body {
  font-family: 'Source Sans Pro', sans-serif;
  // font-family: 'Inter', sans-serif;
  color: $app_color;
  background-color: transparentize($app_bg, 0.2);
  overflow-y: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
