$app_color: #3f3f3f;
$app_bg: rgba(255, 254, 251, 0.8);
$card_bg: #fffefb;
$card_shadow: 0px 20px 30px rgba(0, 0, 0, 0.04),
  0px 6px 10px rgba(0, 0, 0, 0.02);
$card_delete_color: #ff8484;
$card_delete_shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
